<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toponpaydcb.sdk">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name=".view.PaymentView"
            android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false">
        </activity>
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="true" />
    </application>
</manifest>